*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  min-width: 100%;
  min-height: 100vh;
  background-color: #151515;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.count-box h1 {
  font-size: 10rem;
}

.count-btn button {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.count-btn button:hover {
  background-color: #24f194;
}
