.container {
  min-width: 100%;
  background-color: #565656;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 4rem;
  color: #fff;
  padding: 2rem 0;
}

.list__container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #fff;
  padding: 2rem;
}
.list__container ul > button {
  margin: 0 0 2rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #00026f;
  color: #fff;
  cursor: pointer;
}

.list__container ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 1rem;
}

.btn {
  margin-left: 2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff0000;
  cursor: pointer;
}
